
@import "partials/reset";
@import "partials/base";

.header {
	text-align: center;
	padding: 6rem 0;
	margin: 0 auto;
	margin-bottom: 1rem;
}

.header-mark img {
	max-width: 200px;
}

@import "partials/post";
@import "partials/font-face";
